.card {
  /* height: 200px; */
  /* width: 100%; */
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  position: relative;
}

.imageContainer {
  height: 200px;
  position: relative;
  padding: 10px;
}

.trendingTag {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 10px 25px;
  background-color: white;
  color: black;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cardImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cardDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardYear,
.cardDuration,
.cardTag {
  font-size: 12px;
}

.cardTag {
  padding: 2px;
  border-radius: 5px;
  border: 1px solid white;
}
